#![enable(implicit_some)]
#![enable(unwrap_newtypes)]
#![enable(unwrap_variant_newtypes)]
(
    default_album_art_path: Some("~/Music/defaultCover.jpg"),
    format_tag_separator: " | ",
    multiple_tag_resolution_strategy: All,
    browser_column_widths: [25, 38, 42],
    background_color: "#000000",
    modal_backdrop: true,
    text_color: "#c9c9c9",
    header_background_color: "#000000",
    modal_background_color: "#000000",
    preview_label_style: (fg: "#7a1f1f"),
    preview_metadata_group_style: (fg: "#4d4040"),
    song_table_album_separator: None,
    tab_bar: (
        active_style: (fg: "#c9c9c9", bg: "#7a1f1f"),
        inactive_style: (fg: "#625858", bg: "#000000"),
    ),
    highlighted_item_style: (fg: "#862323"),
    current_item_style: (fg: "#862323", bg: "#1e1616"),
    borders_style: (fg: "#3a3a3a"),
    highlight_border_style: (fg: "#4d4040"),
    symbols: (song: "󰝚 ", dir: "󱍙 ", playlist: "󰲸 ", marker: "* ", ellipsis: "...",
        song_style: (fg: "#4d4040"), song_highlighted_style: None, song_current_style: (fg: "#000000"),
        dir_style: (fg: "#4d4040"), dir_highlighted_style: None, dir_current_style: (fg: "#000000"),
        playlist_style: (fg: "#4d4040"), playlist_highlighted_style: None, playlist_current_style: (fg: "#000000"),
        marker_style: (fg: "#7a1f1f"), marker_highlighted_style: (fg: "#7a1f1f"), marker_current_style: (fg: "#000000", bg: "#7a1f1f"),
    ),
    progress_bar: (
        symbols: ["█", "█", "█", " ", "█"],
        track_style: (fg: "#000000", bg: "#000000"),
        elapsed_style: (fg: "#3f0d0d", bg: "#000000"),
        thumb_style: (fg: "#3f0d0d"),
        use_track_when_empty: false,
    ),
    scrollbar: (
        symbols: ["|", "█", "|", "|"],
        track_style: (fg: "#3d3131"),
        ends_style: (fg: "#3d3131"),
        thumb_style: (fg: "#4d4040"),
    ),
    song_table_format: [
        (
            prop: (kind: Transform(Replace(content: (kind: Sticker("rating")), replacements: [
                (match:  "0", replace: (kind: Group([(kind: Text("󰎡"), style: (fg: "#3b3b3b"))]))),
                (match:  "1", replace: (kind: Group([(kind: Text("󰎤"), style: (fg: "#6d6d6d"))]))),
                (match:  "2", replace: (kind: Group([(kind: Text("󰎧"), style: (fg: "#6d6d6d"))]))),
                (match:  "3", replace: (kind: Group([(kind: Text("󰎪"), style: (fg: "#6d6d6d"))]))),
                (match:  "4", replace: (kind: Group([(kind: Text("󰎭"), style: (fg: "#6d6d6d"))]))),
                (match:  "5", replace: (kind: Group([(kind: Text("󰎱"), style: (fg: "#9f9f9f"))]))),
                (match:  "6", replace: (kind: Group([(kind: Text("󰎳"), style: (fg: "#9f9f9f"))]))),
                (match:  "7", replace: (kind: Group([(kind: Text("󰎶"), style: (fg: "#9f9f9f"))]))),
                (match:  "8", replace: (kind: Group([(kind: Text("󰎹"), style: (fg: "#c9c9c9"))]))),
                (match:  "9", replace: (kind: Group([(kind: Text("󰎼"), style: (fg: "#c9c9c9"))]))),
                (match: "10", replace: (kind: Group([(kind: Text("󰽽"), style: (fg: "#c9c9c9"))]))),
            ])), default: (kind: Text(""))),
            width: "3",
            label: "Rating",
            alignment: Center,
            label_prop: (kind: Group([
                (kind: Text("󰩳"), style: (fg: "#c9c9c9")),
            ]))
        ),
        (
            prop: (kind: Sticker("playCount"), style: (fg: "#4d4040"),
                default: (kind: Text("-"), style: (fg: "#4d4040"))),
            width: "3",
            alignment: Center,
            label: "Playcount",
            label_prop: (kind: Group([
                (kind: Text("󰆙"), style: (fg: "#4d4040")),
            ]))
        ),
        (
            prop: (kind: Text("│"), style: (fg: "#3a3a3a")),
            width: "1",
            alignment: Center,
            label: "",
            label_prop: (kind: Group([
                (kind: Text("│"), style: (fg: "#3a3a3a")),
            ]))
        ),
        (
            prop: (kind: Property(Artist), style: (fg: "#c9c9c9"),
                default: (kind: Text("No Artist"), style: (fg: "#a4a3a3"))),
            width: "18%",
            label_prop: (kind: Group([
                (kind: Text("Artist"), style: (fg: "#c9c9c9")),
            ]))
        ),
        (
            prop: (kind: Property(Title), style: (fg: "#625858"),
                default: (kind: Property(Filename), style: (fg: "#413838"),
                    default: (kind: Text("No Title"), style: (fg: "#413838")))),
            width: "41%",
            label_prop: (kind: Group([
                (kind: Text("Title"), style: (fg: "#c9c9c9")),
            ]))
        ),
        (
            prop: (kind: Property(Album), style: (fg: "#4d4040"),
                default: (kind: Text("No Album"), style: (fg: "#372e2e"))),
            width: "33%",
            label_prop: (kind: Group([
                (kind: Text("Album"), style: (fg: "#c9c9c9")),
            ]))
        ),
        (
            prop: (kind: Property(Duration), style: (fg: "#785454"),
                default: (kind: Text("-"))),
            width: "8%",
            alignment: Right,
            label_prop: (kind: Group([
                (kind: Text("Length"), style: (fg: "#c9c9c9")),
            ]))
        ),
    ],
    layout: Split(
        direction: Vertical, panes: [
            (size: "7", pane: Component("header")),
            (size: "100%", pane: Pane(TabContent)),
            (size: "1", pane: Pane(ProgressBar))
        ]),
    browser_song_format: [
        (kind: Group([
            (kind: Property(Track)),
            (kind: Text(" ")),
        ])),
        (kind: Group([
            (kind: Property(Artist)),
            (kind: Text(" - ")),
            (kind: Property(Title)),
        ]), default: (kind: Property(Filename)))
    ],
    level_styles: (
        info:  (fg: "#c9c9c9", bg: "#000000"),
        warn:  (fg: "#a62626", bg: "#000000"),
        error: (fg: "#c93535", bg: "#000000"),
        debug: (fg: "#4d4040", bg: "#000000"),
        trace: (fg: "#2e2424", bg: "#000000"),
    ),
    components: {
        "header_tab_bar": Split(direction: Horizontal, panes: [
            (size: "100%", borders: "NONE", pane: Pane(Tabs)),
        ]),
        "header_line_1": Split(direction: Horizontal, panes: [

            (size: "25%", pane: Pane(Property(content: [
                (kind: Text(" Volume ")),
                (kind: Property(Status(Volume)), style: (fg: "#c9c9c9"),
                    default: (kind: Text("--"), style: (fg: "#3a3a3a"))),
                (kind: Text("%"), style: (fg: "#948888")),
            ], align: Left))),

            (size: "50%", pane: Pane(Property(content: [
                (kind: Property(Song(Artist)), style: (fg: "#c9c9c9"),
                    default: (kind: Text("No Artist"), style: (fg: "#c9c9c9"))),
            ], align: Center, scroll_speed: 6))),

            (size: "25%", pane: Pane(Property(content: [
                (kind: Property(Song(Other("date"))), style: (fg: "#c9c9c9"),
                    default: (kind: Text("No Date"), style: (fg: "#c9c9c9"))),
                (kind: Text(" "), style: (fg: "#785454")),
                (kind: Property(Song(Other("genre"))), style: (fg: "#c9c9c9"),
                    default: (kind: Text("No Genre"), style: (fg: "#c9c9c9"))),
                (kind: Text(" ")),
            ], align: Right, scroll_speed: 6))),
        ]),
        "header_line_2": Split(direction: Horizontal, panes: [

            (size: "25%", pane: Pane(Property(content: [
                (kind: Property(Status(RepeatV2(on_label: " ", off_label: " ",
                    on_style: (fg: "#acacac"),
                    off_style: (fg: "#625858"))))
                ),
                (kind: Property(Status(RandomV2(on_label: "  ", off_label: "  ",
                    on_style: (fg: "#acacac"),
                    off_style: (fg: "#625858"))))
                ),
                (kind: Property(Status(ConsumeV2(on_label: "  󰮯", off_label: "  󰮯", oneshot_label: "  󰮯󰇊",
                    on_style: (fg: "#acacac"),
                    off_style: (fg: "#625858"))))
                ),
                (kind: Property(Status(SingleV2(on_label: "  󰎤", off_label: "  󰎦", oneshot_label: "  󰇊", off_oneshot_label: "  󱅊",
                    on_style: (fg: "#acacac"),
                    off_style: (fg: "#625858"))))
                ),
            ], align: Left))),

            (size: "50%", pane: Pane(Property(content: [
                (kind: Property(Song(Title)), style: (fg: "#c9c9c9"),
                    default: (kind: Property(Song(Filename)), style: (fg: "#c9c9c9"),
                    default: (kind: Text("No Title"), style: (fg: "#c9c9c9")))),
                (kind: Text(" - "), style: (fg: "#4d4040")),
                (kind: Property(Song(Album)), style: (fg: "#acacac"),
                    default: (kind: Text("No Album"), style: (fg: "#acacac"))),
            ], align: Center, scroll_speed: 6))),

            (size: "25%", pane: Pane(Property(content: [
                (kind: Text(" ")),
                (kind: Property(Song(SampleRate())), style: (fg: "#c9c9c9"),
                    default: (kind: Text("No "))),
                (kind: Text(" Hz "), style: (fg: "#785454")),
                (kind: Property(Song(Bits())), style: (fg: "#c9c9c9"),
                    default: (kind: Text("No "))),
                (kind: Text(" bit "), style: (fg: "#785454")),
                (kind: Property(Song(FileExtension)), style: (fg: "#c9c9c9"),
                    default: (kind: Text("No extension"))),
                (kind: Text(" ")),
            ], align: Right))),
        ]),

        "header": Split(
            direction: Vertical, panes: [
                (size: "2", borders: "TOP | RIGHT | LEFT", border_symbols: Plain,
                    pane: Split(direction: Horizontal, panes: [
                        (size: "100%", borders: "NONE", pane: Component("header_tab_bar")),
                    ])
                ),
                (size: "4", borders: "ALL", border_symbols: Library("rounded_collapsed_top"),
                    pane: Split(direction: Vertical, panes: [
                        (size: "100%", borders: "NONE", pane: Component("header_line_1")),
                        (size: "100%", borders: "NONE", pane: Component("header_line_2")),
                    ])
                ),
            ]
        ),
    },
    lyrics: (
        timestamp: false,
        alignment: Center,
    ),
    border_symbol_sets: {
        "rounded_collapsed_top": (
            parent: Rounded,
            top_left: "├",
            top_right: "┤",
        ),
    },
)
